* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
}

.alll {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
}

.alll .onee {
    margin: 15px;
    padding: 50px;
    background-color: white;
    transition: .3s;
}

.alll .onee:hover {
    box-shadow: 5px 5px 7px 1px rgba(128, 128, 128, 0.39);
}

#h2 {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.pii {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 50px;
}



@media (max-width: 1000px) {
    .alll {
        flex-direction: column;
    }
}