#advice .al {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    flex-wrap: wrap;
    /* justify-content: center; */
}

#advice .al div h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 10px;
    padding: 0px 10px;

}

#advice .al div p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 0px 10px;
    padding-bottom: 10px;
}

#advice .al div {
    background-color: white;
    padding-top: 30px;
    transition: .5s;
    margin: 5px;

}

#advice .al img {
    width: 100%;
}

#advice .h1 {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 20px;
}

#advice .pi {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 20px;
}

#advice .al div:hover {
    box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.5);
}

@media (max-width: 1080px) {
    #advice .al {
        justify-content: center;
    }
}