#contact {
    text-align: center;
}

#contact .con {
    display: flex;
    justify-content: center;
}

#contact .con .con1 {
    text-align: center;
    background-color: white;
    margin: 0px 10px;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: .5s;
    border-radius: 3px;
}
#contact .con .con1:hover, .ppi:hover, .get:hover i:hover {
    background-color: #252B42;
    color: white;
    transition: .1s;
}
#contact .con .con1  i:hover {
    color: white;
}
#contact .con .con1 button:hover {
    background-color: #252B42;
    color: white;
    border: 1px solid white;
} 

#contact .con .con1 .ppi {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* color: #252B42; */
}

#contact .con .con1 .get {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    /* color: #252B42; */
}

#contact .con .con1 button {
    all: unset;
    background-color: transparent;
    color: #FFA62B;
    border: 1px solid #FFA62B;
    padding: 5px;
    border-radius: 3px;
    margin-top: 10px;
}

#contact .con .con1 i {
    color: #00A0C1;
}

#contact h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    /* color: #252B42; */
}

.inputlar .text, input {
    width: 90%;
    margin: auto;
}
.inputlar .text input {
    width: 100%;
    outline: 0;
    outline-offset: 0;
    padding: 15px;
    margin-bottom: 15px;
}

.inputlar .emaill, input {
    width: 90%;
    margin: auto;
}
.inputlar .emaill input {
    width: 100%;
    outline: 0;
    outline-offset: 0;
    padding: 15px;
    margin-bottom: 15px;

}
.inputlar .number, input {
    width: 90%;
    margin: auto;
}
.inputlar .number input {
    width: 100%;
    outline: 0;
    outline-offset: 0;
    padding: 15px;
    margin-bottom: 15px;
}
.inputlar .select {
    width: 90%;
    margin: auto;
    padding: 15px;
    margin-bottom: 10px;
}
.inputlar textarea {
    padding: 10px;
    outline: 0;
    outline-offset: 0;
    resize: none;
}
.inputlar button {
    all: unset;
    background-color: #FFA62B;
    color: white;
    padding: 10px 40px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 50px;
    border: 1px solid #FFA62B;
    transition: .3s;
}
.inputlar button:hover {
    background-color: white;
    color: #FFA62B;
    border: 1px solid #FFA62B;
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.676);
}

@media (max-width:900px) {
    #contact .con {
        flex-direction: column;
    }
}
