footer {
    background-color: #16697A;
    color: white;
}

footer .futer {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    flex-wrap: wrap;
}

footer .futer div {
    margin: 0px 10px;
}

footer .futer .box .card {
    display: flex;
    margin-bottom: 10px;
}

footer .futer .box .card p {
    margin-left: 10px;
}

footer .futer .pi {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
    color: rgba(234, 232, 232, 0.775);
}

footer .futer .other {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

#backtop {
    position: fixed;
    right: 50px;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .5s ease;
}


@media (max-width:1119px) {
    footer .futer .box .card {
        margin-left: -20px;
    }
}
@media (max-width:542px) {
    footer .futer {
        text-align: center;
        justify-content: center;
    }
    footer .futer .pi {
        margin-top: 20px;
    }
}

@media (max-width:400px) {
    footer .futer {
        flex-direction: column;
    }
}