* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
}

section {
    background-image: url(../img/cover.png);
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100vh;
}

section h1 {
    padding-top: 200px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 20px;
}

section .section1 {
    width: 90%;
    margin: auto;
}

section .pi {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    padding-bottom: 20px;
}
section .but {
    display: flex;
}

section .but .but1 button {
    all: unset;
    background-color: transparent;
    color: #00A0C1;
    border: 1px solid #00A0C1;
    padding: 10px 20px;
    border-radius: 55px;
    transition: .4s;
}

section .but .but2 button {
    all: unset;
    margin-left: 20px;
    background-color: transparent;
    color: #00A0C1;
    border: 1px solid #00A0C1;
    padding: 10px 20px;
    border-radius: 55px;
    transition: .4s;
}
section .but button:hover {
    background-color: #FFA62B;
    border: 1px solid #FFA62B;
    color: white;
}


@media (max-width: 1200px) {
    section {
        background-position: left;
    }
}