* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FAFAFA;
}

.section2 .all {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: -80px;
    margin-bottom: 100px;
}

.section2 .all .one {
    /* position: absolute; */
    padding: 20px;
    background-color: white;
    transition: .5s;
    border-radius: 5px;
    margin: 5px;
}
.section2 .all .one h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    /* color: #252B42; */
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.section2 .all .one:hover, i:hover, .h3:hover {
    color: white;
    /* background-color: #00A0C1; */
}
.section2 .all .one:hover{
    background-color: #00A0C1;
}


.section2 .all .one {
    color: #025d6f;
    transition: .5s;

}

.section2 .all .one i {
    transition: .1s;
}


@media (max-width: 1210px) {
    .section2 .all {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        margin-top: -80px;
        margin-bottom: 100px;
    }
}
@media (max-width: 800px) {
    .section2 .all {
        flex-direction: column;
    }
}