#services .ikki {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
#services .ikki .right {
    margin-left: 20px;
}
#services .ikki .left img {
    width: 100%;
} 

#services .ikki .right .onn {
    display: flex;
    align-items: center;
}

#services .ikki .right .onn p {
    margin-left: 10px;
}

#services .ikki .right .onn .thee {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 20px;
}

#services .ikki .right .most {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 10px;
}

#services .ikki .right .most2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 10px;
    margin-bottom: 10px;
}


#services .bus {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

#services .pro {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.olti .olti2 {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 40px;
}
.olti .olti2 img {
    width: 100%;
}

.i {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    background-color: #16697A;
    padding: 20px;
    color: white;
    font-size: 24px;
    margin-bottom: 100px;
}
.i .ii {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.i .ii .em {
    width: 100%;
}
.i .ii .em input {
    padding: 10px 20px;
    width: 100%;
    outline: 0;
    outline-offset: 0;
    
}
.i .ii button {
    all: unset;
    background-color: #FFA62B;
    color: white;
    padding: 3.5px 10px;
    width: 100%;
    margin-left: -5px;
}

@media (max-width:910px ) {
    #services .bus {
        text-align: center;
        margin-bottom: 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 57px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #252B42;
    }
    #services .ikki .right .most {
        font-size: 30px;
    }
}
@media (max-width:740px ) {
    #services .ikki {
        flex-direction: column;
    }
}

@media (max-width:725px) {
    .olti .i {
        flex-direction: column;
    }
}

@media (max-width:500px ) {
    .olti .olti2 {
        flex-direction: column;
    }
    .olti .olti2 div {
        margin-bottom: 20px;
    }
}

